* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mb-sm {
  margin-bottom: 10px;
}

.mb-md {
  margin-bottom: 15px;
}
.mb-lg {
  margin-bottom: 20px;
}

.title {
  font-size: large;
  font-weight: bold;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
